* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.socials a {
  background-color: black;
  padding: 4px 8px;
}

@keyframes pulsate {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.cgame img{
  width: 18vw;
  opacity: 0;
}
.active img{
  opacity: 1;
}

/* splash animations */

/* bg opacity down */
@keyframes bgdown{
  0%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* text drop */
@keyframes drop{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

.splashDiv{
  animation-name: bgdown;
  animation-duration: 5s;
}

.splashDiv .txt span{
  animation-name: drop;
  animation-duration: 1s;
  transition: ease-out;
}